

form{
    background-image: url(12315.jpg);
    Background-attachment: fixed;
}
.inp{
    width: 150px;
    color: #EE9821;
    border: 2px solid #d16c6c;
    border-radius: 5px;
}

.inp2{
    width: 109px;
    color: #EE9821;
    border: 2px solid #d16c6c;
    border-radius: 5px;
}

.write{
    border: 3px solid #d16c6c;
    border-radius: 5px;
    color: #777eeb;
}

.inp3{
    width: 80px;
    height: 30px;
    border: 3px solid #d16c6c;
    color: #EE9821;
    border-radius: 15px 5px 15px 5px;
}


