*{
    padding: 0;
    margin: 0;
}

body{
    background: #cccccc url(img/bodybg1.png);
}

.wraper{
    width: 90%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100px;
}

.logo{
    width: 25%;
    height: 150px;
    background-color: #87ceeb;
    float: left;
}

.img-logo{
    width: 100%;
    height: 100%;
}

.title{
    width: 75%;
    height: 150px;
    background-color: #5cc2eb;
    float: left;
}

.navbar{
    text-align: center;
    font-size: 25px;
}

.content-title{
    text-align: center;
    font-size: 20px;
}

.news{
    width:100%;
}

.area{
    background-color: #3bbebe;
}

.area ul{
    list-style: none;
}

.area ul li{
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 35px;
    /* border-right-style:solid;
    border-right-color:#ffffff;
    border-right-width:17px */
    border-right: 2px solid #0c8080;
}

.area ul li:hover{
    background-color: #7cffff;
    

}


.news-1{
    width: 20%;
    height: 50px;
    background-color: #6ae7e7;
    text-align: center;
    float: left;
    font-size: 30px;
}

.news-2{
    width: 80%;
    height: 50px;
    background-color: #50f0f0;
    float: left;
    font-size: 25px;
}

.marquss-img{
    width: 4%;
    height: 42px;
    padding: 5px;
} 

.news-2 span{
    vertical-align: top;
}

.footer{                          /*1*/
    width: 100%;
    height: 2500px;
    background-color: #1fd1d1;
    padding-top:70px ;
}

.footer-1{
    width: 20%;
    height: 2500px;
    float: left;
    margin-left: 1%;
}

.mujib{
    width: 100%;
}

.march{
    width: 100%;
    background-color: #128033;
    font-size: 20px;
    margin-top: 5px;
    color: #ffffff;
}

.video{
    width: 100%;
    margin-top: 5px;
}

.services{
    width: 100%;
    background-color:#128033 ;
    font-size: 25px;
    margin-top: 20px;
    color: #ffffff;
}

.carry{
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    margin-top: 5px;
}

.Result{
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    margin-top: 5px;
    height: 25px;
}

.reg{
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    margin-top: 5px;
    height: 25px;
}

.Important-Links{
    width: 100%;
    background-color: #128033;
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;

}

.Education{
    color: #070005;
    text-align: center;
    background-color: #ffffff;
    margin-top: 5px;
}

.dhaka{
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    margin-top: 5px;
    height: 25px;
}

.international{
    width: 100%;
    height: 471px;
    margin-top: 5px;
}

.emergency{
    width: 100%;
    height: 464px;
    margin-top: 10px;
    
}

.footer-left{                           /*2*/
    width: 52%;
    height: 2500px;
    float: left;
    text-align: center;
    font-size: 30px;
    margin-left: 3%;
}

.Screenshot{
    width: 100%;
    height: 370px;
}

.Latest{
    background-color: #ffffff;
    margin-top: 18px;
    font-size: 15px;
    padding: 10px 10px 20px 20px;
    
}

.Notice{}

.footer-right{                         /*3*/
    width: 20%;
    height: 2500px;
    float: left;
    margin-left: 3%;
    margin-right: 1%;
    text-align: center;
}

.chairman{
    width: 100%;
    
}

.habib{
    font-size: 30px;
    background-color: #ffffff;
    margin-top: 5px;


}

.chairman-title{
    font-size: 23px;
    background-color: #ffffff;
    margin-top: 5px;
}

.biswas{
    width: 100%;
    margin-top: 5px;
}

.biswas-title{
    font-size: 30px;
    background-color: #ffffff;
    margin-top: 5px;
}

.acting{
    font-size: 23px;
    background-color: #ffffff;
    margin-top: 5px;
}

.Shaheen{
    width: 100%;
    margin-top: 5px;
}

.ahmmad{
    font-size: 30px;
    background-color: #ffffff;
    margin-top: 5px;
}

.controller{
    font-size: 23px;
    background-color: #ffffff;
    margin-top: 5;
}

.notice-board{
    font-size: 35px;
    background-color: #ffffff;
    margin-top: 18px;
}

.administration{
    background-color: #ffffff;
    font-size: 25px;
    margin-top: 10px;
}

.college{
    background-color: #ffffff;
    font-size: 25px;
    margin-top: 10px;
}



.Copyright{
    width: 100%;
    height: 50px;
    background-color: #89f5f5;
    color: #7134e2;
    font-size: 20px
}

