body{
    background-color: #000000;
    margin: 5px 10%;
}

/* .box1{
    height: 200px;
    width: 200px;
    background-color: mediumturquoise;
    margin-right: 10px;
    float: left;
    border-radius: 205px 205px 205px 0px;
} */

#wrapper{
    width: 100%;
    height: 1450px;
    background-color: #666666;
}

#header-wrapper{
    float: left;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
}

#header-wrapper #logo{
    float: left;
    width: 25%;
    height: 100%;
    background-color: #999999;
    margin-right: .3%;
}

#header-wrapper #banar{
    float: left;
    width: 74.7%;
    height: 100%;
    background-color: #999999;
} 

#menu{
    float: left;
    width: 100%;
    height: 200px;
    background-color: #999999;
    margin-top: 5px;
} 
 
#menu ul{
    margin: 0px;
    padding: 0px;
}

#menu ul li{
    float: left;
    width: 200px;
    /* background-color: #000000; */
    background: linear-gradient(to top,olive,orange,red);
    color: #ffffff;
    list-style-type:none;
    margin-left: 5px;
    text-align: center;
    padding: 91px 0px;
    cursor: pointer;
    font-weight:bold;       /*kaj korenai*/  
    /* border-radius: 25px 0px;            Pblm= radius kaj korenai buje nai/2: redius 1-3ki vabay palo? */
    border-radius: 200px;
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;

}

#manu ul li:hover{
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px 25px;    /*kaj korenai*/

}

#content-wrapper{
    float: left;
    width: 100%;
    min-height: 800px;
    background-color: #ffffff;
    margin-top: 5px;
}

#content-wrapper #left{
    float: left;
    width: 20%;
    height: 800px;
    background-color: #999999;
    margin-right: .3%;
}

#content-wrapper #content{
    float: left;
    width: 59.4%;
    height: 800px;
    background-color: #999999;
    margin-right: .3%;
}

#content-wrapper #content .box{
    float: left;
    width: 300px;
    height: 200px;
    background-color: #ff0000;
    background: url(download.jfif)center no-repeat ;
    /* background: linear-gradient(to left,black,gray,black); */
    margin: 50px 150px;
    /* border-radius: 205px; */
    /* box-shadow: 5px 5px 5px #000000; */
    /* box-shadow: 0px 0px 5px 5px #000000; */
    /* box-shadow: 0px 0px 50px 15px #000000 inset; */
    box-shadow: 0px 0px 5px 15px #000000 ;
    text-align: center;
    /* transform: skewY(10deg); */
    /* transform: scale(2); */
    /* transform: rotate(1800deg); */
    /* transform:scale(1) rotate(10deg); */
    transition: all 5s;
}

#content-wrapper #content .box:hover{
    /* box-shadow: 0px 0px 100px 15px; */
    /* transform: scale(-1.5); */
    /* transform: rotateX(180deg); */
    /* transform:scale(1.5) rotate(360deg); */
    width: 500px;
    height: 500px;
    transform: skewY(50deg);
}

#content-wrapper #content .box h1{
    margin-top: 80px
}

#content-wrapper #right{
    float: left;
    width: 20%;
    height: 800px;
    background-color: #999999;
}

#content-wrapper #right h3{
    margin: 20px 10px;
    background: linear-gradient(to left,black,gray,black);
    text-align: center;
    color: white;
    font-weight:bold ;
    padding-top: 10px;
    height: 30px;
}

#content-wrapper #right ul{
    margin: 0px;
    padding: 0px;
}

#content-wrapper #right ul li{
    width: 100%;
    list-style-type: none;
    border-bottom: 1px dotted ;
    padding-top:5px ;
    margin-left: 2px;
    transition: all 2s;
    cursor: pointer;
}

#content-wrapper #right ul li:hover{
    margin-left: 10px;
}

#big-footer-wrapper{
    float: left;
    width: 100%;
    min-height: 200px;
    background-color: #ffffff;
    margin-top: 5px;
}

#big-footer-wrapper #gallery{
    float: left;
    width: 33%;
    height: 200px;
    background-color: #999999;
    margin-right: .3%;
}

#big-footer-wrapper #service{
    float: left;
    width: 33.4%;
    height: 200px;
    background-color: #999999;
    margin-right: .3%;
}

#big-footer-wrapper #contact{
    float: left;
    width: 33%;
    height: 200px;
    background-color: #999999;
}

#footer{
    float: left;
    width: 100%;
    height: 80px;
    background-color: #999999;
    margin-top: 5px;
}