#menu{
    padding: 0;
    list-style-type: none;
    width: 960px;
    background: #4E4E4E;
    border-bottom: 5px solid #ffa500;
    min-height: 38px;
    margin: 0 auto;
}

#menu li{
    float: left;
    border-right: 1px solid #605B5B;
    border-left: 1px solid #2b2a2a;
    position: relative;
}

#menu li:last-child{
    border-right: none;   
} 

#menu li:first-child{
    border-left: none;
} 

#menu li a{
    background: #4e4e4e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s all ease;
}

#menu li a:hover{
    background: #f88d00;
}

#menu li ul{
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: -99999px;
}

#menu li ul li{
    float: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #605B5B;
    border-bottom: 1px solid #2b2a2a;
    width: 200px;
}

#menu li:hover ul{
    left: 0;
}