body{
    text-align: center;
    background-image:url("e2941f.jpg");
    background-repeat: no-repeat;
    /* background-position: left bottom; */
    /* background-attachment: fixed; */
    background-attachment: scroll;
    margin-right:736px;
    /* border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid; */
    background-position: right;
    /* border-style: dashed; */
    /* border-style: double; */
    /* border-width: 15px; */
    /* border-style: groove; */
    /* border-style: hidden; */
    /* border-style: inset; */
    /* border-style: outset; */
    /* border-style: ridge; */
    /* border-style: solid; */
   
    border-color: rgb(15, 73, 235);
}

#tag-1{
    color: blue;
}

.p-tag{
    font-size: 40px;
    border-style: dotted dashed solid double;
}

.shadhin{
    background-color: #7d45ce;
}

.hasan{
    height: 50px;
    width: 300px;
}

#name span{
    font-size: 40px;
    opacity:0.5;
}

p{
    border-style: dotted dashed solid double;
    color: crimson;
    border-color:  rgb(106, 90, 205);
    font-size: 25px;
    border-width: 5px;
}

.one{
    border-style: solid;
    border-width: 20px 10px;
    font-size: 40px;
}

.two{
    font-size: 30px;
    wid
}