*{
    padding: 0;
    margin: 0;
}

body{
    background: #f5d79f;
}

.wraper{
    width:90%;
    margin: 0 auto;
    height: 584px;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #e99f17;
   
}


.web{
    font-size: 25px;
    color: #ffffff;
    padding: 10px 0px 0px 10px;
}

.goes{
    color: #000000;
    padding: 0px 0px 0px 10px ;
}

.menu-bar{
    background-color: #ffffff;
    border-top:5px solid #795107 ;
    border-bottom:5px solid #795107 ;
 }

 .menu-bar ul{
    list-style: none;
 }

 .menu-bar ul li{
    display: inline-block;
    padding: 7px 20px;
    border-right: 2px solid #e99f17;
    
 }
.menu-bar ul li a{
    text-decoration: none;
    color: #000;
}

 .menu-bar ul li:hover{
    background-color: #e99f17;
    color: #ffffff;
 }

 .menu-bar ul li:last-child{
    border-right: none;
 }



.menu{
    /* float: left; */
    background-color: #ffffff;
    padding: 10px;
    
} 

.image{
    width: 100%;
    height: 100%; 
    /* background-repeat: no-repeat;
    background-position: right top;
    margin-left: 492px; */
    
    
    
}

.content{
    background-color: #ffffff;
    height: 112px;
    border-top: 7px solid #795107;
}

.lorem{
    float: left;
    width: 60%;
    padding: 5px;
}

.lorem-title{
    font-size: 17px;
}

.sidebar{
    width: 36.4%;
    padding: 5px;
    float: left;
    
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    margin-left: 15px;
    /* border-bottom: 2px dotted #570e0e; */
}
.sidebar ul li a{
    text-decoration: none;
    color: #000;
}

.sidebar ul li:hover{
    background-color: #e99f17;
    /* color: aqua; */
}

.Right{
    text-align: center;
    background: #350808;
    padding: 5px;
}
.Right ul{
    list-style-type: none;
}
.Right ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

.headline{
    color: #627233;
    font-size: 25px;
}
.headline ul li{}
.headline ul li{}